<!DOCTYPE HTML>
<head>
    <title>123</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!--     <link href="{{ asset('assets/libs/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('assets/css/slider.css')}}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('assets/css/style1.css')}}" rel="stylesheet" type="text/css" media="all"/> -->
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="main-wrapper"> 
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="header">
                <div class="row justify-content-between align-items-center text-center">
                    <div class="col-md-auto">
                        <div class="logo"><img src="meroy.svg" alt=""></div>
                    </div>
                    <div class="col-md-6">
                        <form class="search_form bottom-block" action="">
                            <input class="search_text" type="search"/>
                            <button class="search_button">Поиск</button>
                        </form>
                    </div>
                    <div class="col-4 col-md-4">
                        <div class="auth_wrapper">
                            <p><a href="">Вход</a></p>
                            <p><a href="">Регистрация</a></p>
                            <p><a href="">Регистрация</a></p>
                        </div>
                        <div class="cart_wrapper">
                            <a href="#" class="cart_icon">
                                <span>2</span> 
                                <img src="cart_icon.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="top_menu">
                            <ul>
                                <li><a href="#">Главная</a>
                                <li><a href="#">О магазине</a>
                                <li><a href="#">Доставка</a>
                                <li><a href="#">Контакты</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-5 col-lg-3">
            <div class="side_menu">
                <h3><a href="">Категории</a></h3>
                <ul>
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">4</a></li>
                </ul>
            </div>
            
        </div>
        <div class="col-12 col-sm-12 col-md-7">
            <div class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li><a href="#"><img src="https://via.placeholder.com/350x151" /></a></li>
                        <!-- <li><a href="#"><img src="https://via.placeholder.com/350x152" /></a></li>
                        <li><a href="#"><img src="https://via.placeholder.com/350x153" /></a></li> -->
                    </ul>
                </div>                         
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            footer
        </div>
    </div>
</div>
</div>   

</body>
</html>

