//#212633 - black
//#563d7c - fiolet
.header{
    margin: 15px 0;
    vertical-align: bottom;
}
.search_form{
    width: 100%;
}
.auth_wrapper, .cart_wrapper{
    display: inline-block;
    vertical-align: top;
}
.auth_wrapper{
    text-align: right;
    margin-right: 30px;
    
}
.auth_wrapper p{
    margin: 0;
}
.auth_wrapper p:first-child{
    margin: 15px 0 0 0;
}
.search_button{
    width: 80px;
}
.search_text{
    width: 80%;
    max-width: 440px;
    padding: 5px;
    border: solid 1px #ccc;
    border-radius: 3px;
    outline: none;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(51,51,51,1);
    -moz-box-shadow: 0px 2px 1px 0px rgba(51,51,51,1);
    box-shadow: 0px 2px 1px 0px rgba(51,51,51,1);
}
.search_button{
    width: 19%;
    max-width: 80px;
    margin: 0 0 0 -5px;
    padding: 5px 0;
    font-weight: 700;
    outline: none;
    color: white;
    text-decoration: none;
    border: solid 1px transparent;
    border-radius: 3px;
    background: #563d7c;
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(51,51,51,1);
    -moz-box-shadow: 0px 2px 2px 0px rgba(51,51,51,1);
    box-shadow: 0px 2px 2px 0px rgba(51,51,51,1);

}
.cart_icon:hover{
    text-decoration: none;
}
.cart_icon img{
    width: 60px;
    height: 60px;
}
.cart_icon:hover.cart_icon img{
    border-radius: 50%;
    border: 2px outset #212633;
}
.cart_icon span{
    position: relative;
    top: 16px;
    left: -3px;
    display: block;
    background-color: #DB0600;
    border-radius: 50%;
    font-size: 14px;
    width: 24px;
    height: 24px;
    text-align: center;
    border: 1px solid #AE2522;
    color: #fff;
}
.top_menu ul{
    margin-top: 10px;
    background-color: #212633;
    border-radius: 6px;
    padding: 0 10px 0 20px;
}
.top_menu ul li{
    display: inline-block;
    
}
.top_menu ul li a{
    padding: 15px 10px;
    color: #fff;
    font-family: 'ambleregular';
    font-size: 0.823em;
    text-transform: uppercase;
    color: #fff;
    display: block;
    padding: 16px 20px;
    border-right: 2px ridge #585858;
    -webkit-transition: all .9s;
    -moz-transition: all .9s;
    -o-transition: all .9s;
    -ms-transition: all .9s;
    transition: all .9s;
    
}
.side_menu h3{
    border-radius: 6px 6px 0 0;
    background-color: #563d7c;
    font-size: 1.2em;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'ambleregular';
    margin-bottom: 5px;
}
.side_menu h3 > a{
    color: #fff;
}
.side_menu li a{
    display: block;
    font-size: 0.8em;
    padding: 8px 15px;
    color: #777;
    font-family: 'ambleregular';
    margin: 0 20px;
    background: url(../images/drop_arrow.png) no-repeat 0;
    border-bottom: 1px solid #777;
    text-transform: uppercase;   
}

